<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en">
<head>
	<link type="text/css" rel="stylesheet" href="/css/main.css" />
	<title>Tweets in Map example</title>
</head>
<body>
  <a class="main-title">
    View latest tweets on map
  </a>
<!-- Check this URL for more examples: http://developers.cloudmade.com/projects/web-maps-api/examples -->
  <form method="post">      
      <input type="text" name="query" value="{{query}}">      
	  <input type="submit" value="search">
  </form> 
  <br />
  <div id="cm-example" style="width: 600px; height: 500px"></div>

  <script type="text/javascript" src="http://tile.cloudmade.com/wml/latest/web-maps-lite.js"></script>
  <script type="text/javascript">
	var APIKEY = '8ee2a50541944fb9bcedded5165f09d9';
    var cloudmade = new CM.Tiles.CloudMade.Web({key: '8ee2a50541944fb9bcedded5165f09d9'});
    map = new CM.Map('cm-example', cloudmade);    
    //map.setCenter(new CM.LatLng(51.514, -0.137), 15);
    
	//adding a search slide bar
	//var sidebar = new CM.SearchSidebar({key: APIKEY});
	//map.setSidebar(sidebar);
	//map.openSidebar();
	
    pinIcon = new CM.Icon();
    pinIcon.image = "http://icons.iconarchive.com/icons/artdesigner/webtoys/32/Pin-icon.png";
    //pinIcon.image = "pin.png";
    
	var centerLocation = new CM.LatLng(36.788491, 2.968306);
	map.setCenter(centerLocation, 2);
	
	{% for tweet in tweets %}
		tweetLocation = new CM.LatLng({{tweet.lat}}, {{tweet.lng}});
		tweetMarker = new CM.Marker(tweetLocation, {
			title: "{{tweet.text}}",
			icon: pinIcon,
			draggable: false
		});
		map.addOverlay(tweetMarker);
		//tweetMarker.openInfoWindow(escape("text"));
    {% endfor %}
	
    var topRight = new CM.ControlPosition(CM.TOP_RIGHT, new CM.Size(50, 20));
    map.addControl(new CM.SmallMapControl(), topRight);
    map.addControl(new CM.LargeMapControl());
    map.addControl(new CM.ScaleControl());
    map.addControl(new CM.OverviewMapControl());  
  </script>
  
  
</body>
</html>